<div class="grid grid-cols-1 grid-rows-1">
  <app-save-newsletter-popup
    class="grid row-start-1 col-start-1"
  ></app-save-newsletter-popup>

  <div class="grid row-start-1 col-start-1">
    <section
      class="bg-white m-6 p-6 h-auto rounded-lg border-default border-stroke"
    >
      <h3 class="text-black">Newsletter editor</h3>

      <div class="mt-6">
        <lib-place-block-button
          [buttonText]="'Paragraph block'"
        ></lib-place-block-button>
        <lib-place-block-button
          [buttonText]="'Image block'"
        ></lib-place-block-button>
      </div>

      <lib-input-field> </lib-input-field>

      <nav class="flex justify-end">
        <lib-action-button [buttonText]="'Save/Publish'"> </lib-action-button>
      </nav>
    </section>
  </div>
</div>
